ConsoleCore/DXApplication1/DXWebApplication1/Connected Services/KostaN3Exam/N3ExaminationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HubService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HubService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MethodResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorList" nillable="true" type="tns:ArrayOfError" />
      <xs:element minOccurs="0" name="IdHistory" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodResult" nillable="true" type="tns:MethodResult" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdError" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
</xs:schema>